@model Depot.Web.Models.Cart

@{
    Layout = "~/Views/Shared/Store.cshtml";
}

<div class="cart-title">Your Cart</div>
<table>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Quantity &times;</td>
            <td>@item.Title</td>
            <td class="item-price">$@item.Price</td>
        </tr>
    }
    
    <tr class="total-line">
        <td colspan="2">Total</td>
        <td class="total-cell">$@Model.TotalPrice</td>
    </tr>
</table>

@using(Html.BeginForm("EmptyCart", "Store"))
{
    <input type="submit" value="Empty cart"/>
}